*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Segoe UI !important;
    color: white;
    /*background-color:#1F1F1F;*/
    background-color: black;
}

.clear {
    clear: both;
}

/* Message Template */
.message .anchorlink {
    display: block;
}

.oldcitation {
    background-color: #252525;
    border-width: 0px;
}

.citation {
    background-color: #252525;
    border-width: 0px;
}

.spoiler {
    background-color: #252525;
    border-width: 0px;
}

.message .header {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.message .header.moderation {
    background-color: darkred !important;
}

.message .wrapper div {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.message .header .avatar, .message .header .infos {
    float: left;
}

.message .header .action {
    float: right;
    margin-top: 12px;
}

.message .header .action .icon{
    height: 32px;
    width: 32px;
}

.message .header .infos {
    margin-left: 8px;
}

.message .header .infos * {
    width: 100%;
    line-height: 30px;
}

.message .header .avatar {
    text-align: left;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);*/
}

.message .header .avatar.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.message .header .avatar.no_avatar {
}

.message .header .infos .message_date {
    color: rgba(255, 255, 255, 0.70);
}

.message .content {
    overflow: hidden;
    padding: 8px;
}


    /* HFR content > * */
    .message .content table {
        border: 0px;
        padding: 16px !important;
        width: 100%;
        margin-bottom: 5px !important;
    }

        .message .content table p {
            overflow-x: hidden;
        }

            .message .content img, .message .content table, .message .content table p, .message .content table p img {
                max-width: 100%;
            }

                .message .content img[onload] {
                    margin: 0 !important;
                }

                .message .content table .s1 a {
                    font-weight: bold !important;
                    color: whitesmoke !important;
                    text-decoration: none !important;
                }

hr {
    border: 0px;
}

.message .content div.masque {
    visibility: hidden;
}

.message .content ol, .message .content ul {
    margin: 1em 0px !important;
    padding-left: 2em !important;
}

.message .content table.code td {
    font-size: 0.8em !important;
}

.message .content table.code, .message .content table.fixed, .message .content table.quote, .message .content table.citation {
    table-layout: fixed;
    border: none;
}

    .message .content table.code p, .message .content table.fixed p {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .message .content table.code *, .message .content table.fixed * {
        font-family: monospace !important;
    }
